input:focus {
    outline-color: #e1d8fb;
    outline-style: solid;
}

.new-item-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 1px;
    width: 300px;
}

#name-planter-label {
    font-size: 20px;
    color: rgb(146, 134, 160);
    font-weight: 400;
    margin-left: 50px;
    margin-top: 30px;
}


.new-planter {
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    background-color: #bb784e;
    color: #ffffff;
    font-size: 16px;
    border-radius: 7px;
    margin: 50px;
    margin-bottom: 0;
    transition: 0.2s;
}

.new-planter:hover {
    background-color: #415d43;
    color: #cfe1b9;
    transition: 0.4s;
    cursor: pointer;
}

.new-planter:active {
    background-color: #e1cdc1;
    color: #ffffff;
    transition: 0.4s;
}

#name-planter {
    position: relative;
    border-color: rgb(178, 100, 57);
    border-style: solid;
    padding-left: 10px;
    border-radius: 7px;
    background-color: transparent;
    height: 40px;
    margin-left: 50px;
    font-size: 18px;
}

#name-planter::placeholder {
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: rgba(120, 147, 165, 0.646)
}

#starting-num {
    display: inline-block;
    border-color: rgb(178, 100, 57);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
    height: 30px;
    margin-left: 10px;
    margin-top: 12px;
    font-weight: 300;
    font-size: 18px;
    border-style: solid;
    width: 50px;
}

#starting-num::placeholder {
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: rgba(120, 147, 165, 0.646)
}

#starting-num-label {
    display: inline-block;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 20px;

}