* {
    color: #5A210C;
}

.open-planter {
    position: relative;
    background-color: transparent;
    width: 70%;
    height: 65px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 60px;
    transition: 0.4s;
    background-image: url(src/assets/smallLogo.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    background-position-x: 7px;
    border-radius: 7px;
}

.open-planter--open {
    position: relative;
    width: 70%;
    height: 65px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 60px;
    transition: 0.4s;
    background-image: url(src/assets/smallLogo.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    background-position-x: 7px;
    transition: 0.4s;
    background-color: rgb(195, 215, 226);
    border-radius: 7px;
}

.open-planter:hover {
    cursor: pointer;
    transition: 0.4s;
}

.planter-button-div:hover {
    background-color: rgb(195, 215, 226);
    cursor: pointer;
    transition: 0.4s;
    border-radius: 7px;
}

.planter-button-div--open {
    background-color: rgb(195, 215, 226);
    margin-bottom: 20px;
    width: 100%;
    transition: 0.4s;
    border-radius: 7px;
    padding-right: 10px;
}

.planter-button-div {
    border-radius: 7px;
    background-color: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
    transition: 0.4s;
    width: 100%;
    border-radius: 7px;
    padding-right: 10px;
}

.delete-planter,
.rename-planter {
    float: right;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    top: 20px;
    margin-right: 10px
}

.delete-planter:hover,
.rename-planter:hover {
    animation: shake 0.5s;
}